@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body, html{
    padding: 0;
    margin: 0;
    /* font-family: 'Commissioner', sans-serif; */
    background-color: #f4f4f8;
    font-family: 'Poppins', sans-serif;
}

.main{
    display: inline-flex;
    width: 100%;
}

.nav{
    width: 420px;
    height: 100%;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #284585;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.01);
    border-right: #f4f4f8 solid 1px;
    float:left;
}

.navHeader{
    text-align: left;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
    border-bottom: #ffffff65 solid 1px;
}

.navTitle{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none !important;
}

.navTitleText{
    padding-left: 20px;
    color: white;
}

.navFooter{
    color: white;
    background-color: #15213a;
    padding: 40px;
    margin-top: 30px;
    text-align: left;
}

.menuCollapse{
    display: none;
}

.navLogo{
    height: 60px;
    width: auto;
}

.navList{
    list-style: none;
    padding-left: 0px;
    margin-top: 25px;
    display: block;
}

.navListItem{
    width: 100%;
    margin-top: 10px;
}

.navIButtom{
    width: 100%;
    padding: 10px 10px 10px 50px;
    background-color: #284585;
    /* background-color: rgba(255, 255, 255, 50); */
    color: rgba(255, 255, 255, 50);
    border: none;
    text-align: left;
    cursor: pointer;
}

.navIButtom:hover{
    color: white;
    cursor: pointer;
}

.active{
    font-weight: bold;
    border-left: white solid 5px;
    color: white;
}

.link{
    font-weight: bold;
    cursor: pointer;
    color: #284585;
}

.category{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 40%;
    font-size: .7rem;
    padding: 30px 20px 5px 20px;
}

.categoryActive{
    color: white;
    opacity: 80%;
}

#submitButton{
    background: #2f5cbb;
    color: white;
    padding: 16px 32px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 16px;
}

.content{
    /* margin-left: 350px; */
    width: 100%;
}

.contentTitle{
    padding: 12px 60px;
    background-color: white;
    color: rgb(54, 51, 51);
}

.contentText{
    padding: 20px 60px;
}

.katex{
    background-color: #1f70d817;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
}

.titleHeader{
    align-items: left;
}

.titleDownload{
    align-items: right;
}

.mathTable{
    display: inline;
}

.mc{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.grid{
    width: 100%;
}

.book{
    width: 300px;
    margin-right: 3em;
    margin-bottom: 5em;
    height: 380px;
    display: inline-block;
}

.cover{
    background-position: top;
    background-size: cover;
    height: 360px;
    width: auto;
    border-radius: 5px;
}

@media only screen and (max-width: 962px) {
    .main{
        display: block
    }

    .nav{
        position: relative;
        width: 100%;
        text-align: center;
    }

    .category{
        text-align: left;
    }

    .navHeader{
        text-align: left;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .contentTitle{
        padding: 140px 30px 40px 30px;
    }
    
    .contentText{
        padding: 20px 30px;
    }

    .menuCollapse{
        display: flex;
    }

    .menuButton, submitter{
        padding: 20px;
        background-color:  #ffffff;
        border-radius: 10px;
        color: #2a2083;
        border-style: none;
        font-weight: bold;
        cursor: pointer;
    }

    .navList{
        display: none;
    }

    .content{
        margin-left: 0px;
    }

    img{
        width: 100%;
        height: auto;
    }

    .book{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8em;
        display: block;
    }

  }

  @media only screen and (min-width: 962px) {
    .navList {
        display: block !important;
    }
  }