---
layout: default
permalink: /
---

<div class="post-content e-content" itemprop="articleBody">
  <div class="contentText" style="text-align: center;">
    
    <h1>Cálculo Numérico </h1>

    <img src="/assets/images/intro.jpg" alt="">

    <p style="font-size: 1.5em;">
      El Cálculo Numérico es la rama de las matemáticas que estudia los métodos numéricos de resolución de problemas, es decir, los métodos que permiten obtener una solución aproximada (en ocasiones exacta) del problema considerado tras realizar un número finito de operaciones lógicas y algebraicas elementales. Utilizando la herramienta correspondiente sea el problema, desde un método manual hasta un software como MatLab.
    </p>

  </div>
</div>